#stage{
    position: absolute;
    left: -0.5%;
    width: 100.5%;
    top: -0.5%;
    height: 100.5%;
    z-index: -1;
}
#cursor{
    position: absolute;
    width: 5%;
    top: 5%;
    left: 10%;
}
#player{
    position: absolute;
    width: 5%;
    top: 3%;
    left: 10%;
}
#gauge{
    position: absolute;
    width: 0.5%;
    height: 5%;
    background-color: transparent;
    border: 4px solid black;
    z-index: 2;
    border-radius: 20px;
    left: 15%;
}
#meter{
    position: absolute;
    width: 0.6%;
    height: 5.5%;
    background-color: greenyellow;
    z-index: 1;
    left: 15.2%;
    top: 1%;
}

.gridworks{
    position: absolute;
    width: 5%;
}

#sparkle{
    position: absolute;
    left: 4%;
    top: 31%;
}